* {
    font-family: 'Calibri';
    font-size: 1rem;
    box-sizing: border-box;
}
body {
    background-color: LightSteelBlue;
    display:flex;
    justify-content:space-around;
    margin:0px;
    flex-wrap:wrap;
}

article#eingabebereich {
    background-color: RoyalBlue;
    color:beige;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#section_left {
    background-color:LightSkyBlue;
    width:50%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    border: 10px solid MediumPurple;
}

section#section_left > article {
    flex:1;
}

section#section_right {
    background-color: CornflowerBlue;
    padding:0px;
    width:50%;
    height:100vh;
    display:flex;
    justify-content: center;
    border: 10px solid MediumPurple;
}

form {
    padding:10px;
    height:10vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
    flex-wrap: wrap;
}

form, aside > * {
    margin: 5px;
}

form > div {

    display:flex;
    flex-direction: column;
    padding:10px;
}

form input {
    width: 100%;
    color: black;
    font-size: 20px;
    font-size: 1rem;
}

form label {
    margin-bottom: 5px;
    margin-left:1px;
}

main {
    margin-top:10px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.posten {
    background-color: coral;
    display:flex;
    justify-content: space-around;
    padding:10px 0px;
}

.posten span {
    display:flex;
    border-left: 1px solid black;
    margin:0px 20px;
    background-color: red;
    flex:1;
    justify-content: flex-end;
}

#gesamt {
    background-color:Navy;
    color:beige;
    display:flex;
    justify-content:center;
}

#aktueller_monat {
    background-color:RosyBrown;
    color:beige;
}


.nachlinks {
    align-self: flex-end;
    margin-right:auto;
}

.nachrechts {
    align-self: flex-end;
    margin-left:auto;
    margin-right:10px;
}


.monatsobjekt {
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.monatsobjekt ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    width:100%;
}

.monatsobjekt ul > li {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    border-radius: 10px;
}

article#aktueller_monat_liste {
    background-color: RoyalBlue;
    width:80%;
    padding:0px;
    color:beige;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.eintragsobjekt {
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.eintragsobjekt ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    width:100%;
}

.eintragsobjekt ul > li {
    margin:10px;
    padding:5px;
    color:beige;
    background-color: LightSteelBlue;
    border-radius: 10px;
    width:90%;
    display:flex;
}

.eintragsobjekt li > * {
    padding:3px;
    flex:1;
}

.delete {
    justify-content: flex-end;
    align-self: flex-end;
    margin-left:auto;
    margin-right:10px;
    border-radius: 5px;
    flex-basis:50px;

}

.delete:hover {
    background-color: PaleVioletRed;
    /* transition-delay: 300ms; */
    transition-duration:400ms;
}
